$primary-background: #fffacd;
$font: 'Righteous', cursive;

$btn-hover-color: #fdfd96;
$opacity-common: 0.9;
$non-button-border-radius: 7px;

@mixin set-dimension ($height, $width) {
  height: $height;
  width: $width;
}
@mixin set-flex($display, $direction:row, $align:flex-start, $justify:center) {
  display: $display;
  flex-direction: $direction;
  align-content: $align;
  justify-content: $justify;
}
