@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  background: url(../images/hotel-hall.jpg) no-repeat center center fixed;
  font-family: $font;
  margin: 0px;
}

header {
background-color: $primary-background;
height: 52px;
display: flex;
align-items: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 3px;
}

button {
  cursor: pointer;
  font-family: $font;
  border-radius: 4px;
  border: solid 1px;
  &:hover {
    background-color: $btn-hover-color;
  }
}

label {
  padding: 0px 10px 0px 4px;
}

p {
  margin: 2px 0px 0px 0px;
  align-self: center;
}

.navigation {
  flex: 3;
  @include set-flex(flex, null, null, flex-end);
  align-items: center;
}

.welcome-msg {
  margin-left: 20px;
  flex: 2;
}

.icon {
  margin-bottom: 5px;
}

.statistics-btn, .calendar-btn, .home-btn, .logout-btn  {
  @include set-flex(flex, null, null, null);
  align-items: center;
  height: 52px;
  font-size: 22px;
  background-color: $primary-background;
  border: none;
  padding: 0px 20px 0px 16px;

  &:hover {
    background-color: $btn-hover-color;
  }
}

.nav-item {
  margin-left: 2px;
}

.main {
  margin: 30px 50px 20px 50px
}

.booking-station, .user-statistics, .login-station, .web-api-error {
  font-size: 1.2em;
  border-radius: $non-button-border-radius;
  background-color: $primary-background;
  opacity: $opacity-common;
  height: 80px;
  margin-bottom: 10px;
}

.login-station, .web-api-error {
  position: fixed;
  left: 33%;
  top: 15%;
  text-align: center;
  @include set-dimension (130px, 500px);
}

.error-message-container {
  @include set-dimension (20px, auto);
    .error-message {
      color: red;
      font-size: .8em;
    }
}

.error-message-api {
  padding-top: 4%;
}

.room-type, .amount-spent{
  @include set-flex(flex, null, null, center);
  align-items: center;
  height: 100%;
}

.room {
  @include set-flex(flex, null, null, null);
  align-items: center;
  padding: 0px 10px 0px 0px;
}

.all-available-rooms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #4A2511;
}

.room-card, .booking-card {
  @include set-flex(flex, column, flex-start, null);
  @include set-dimension (auto, 350px);
  margin: 15px 15px 5px 15px;
  background-color: $primary-background;
  opacity: .87;
  border-radius: $non-button-border-radius;
  font-size: 1.15em;
  padding-bottom: 15px;
}

.room-data {
  @include set-flex(flex, null, null, space-around);
}

.booking-history {
  @include set-flex(flex, null, null, null);
}

.future-bookings, .past-bookings {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.flex-column {
  @include set-flex(flex, column, null, null);
}

.bed-img {
  @include set-dimension (100px, 100px);
}

.book-room {
  width: 30%;
  margin-top: 7px;
  align-self: center;
}

.reservation-date, .booking-card {
  align-self: center;
}

.reservation-type, .apology {
  background-color: $primary-background;
  text-decoration: underline;
  align-self: center;
  border-radius: $non-button-border-radius;
  padding: 8px 15px 8px 15px;
  opacity: $opacity-common;

}

.apology {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.hidden {
  display: none !important;
}
